body {
    max-width: 600px;
    margin: auto;
    border-left: 1px solid lightgray;
    padding-left: 15px;
}

h1 {
    border-bottom: 1px dotted;
    font-size: 25px;
    padding: 15px;
}
.emergecyh {
    border-top: 1px dotted;
    padding-top: 15px;

}

input {
    width: 100%
}

.container {
    width: 205px;
}

.fname, .lname {
    display: inline-block;
}

.lname {
    float: right;
}

select {
    width: 285px;
}

.date, .month, .year {
    display: inline-block;
    margin-top: -15px;
    margin-right: 8px;
}

.container3 {
    float: right;
    margin-top: -70px;
}
.year {
    padding-right: 125px;
}

.container4 {
    width: 600px;
}

.raletionship {
    display: inline-block;
    float: right;
    margin-top: -58px;
}

.container5 {
    width: 600px;
}

label {
    font-size: 13px;
    margin;
}

.container6 {
    width: 600px;
}

.city, .state {
    display: inline-block;
}

.state {
    float: right;
}

.container7 {
    width: 277px;
}

.container8 {
    float: right;
    margin-top: -38px;
    margin-right: -8px;
}

.country {
    width: 290px;
}

span {
    display: block;
    font-size: 13px;
    margin-left: 3px;
}


