body {
    border-left: 1px solid ;
    padding: 10px;
}
label[for="lname"] {
    margin-left: 38px;
}
label[for="fname"] {
    margin-left: 2px;
}
.name {margin-left: 2px;
}
input {
    margin-top: 6px;
    margin-bottom: 6px;
}