body {
    width: 74%;
    margin: auto;
    padding: 5%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 50px;
}
img {
    width: 70%;
    height: auto;
}
.grant {
    grid-column-start:1;
}
.gulp {
    grid-column-start:2;
}
.hooks {
    grid-column-start:3;
}
.npm {
    grid-column-start:4;
    margin-top: 35px;
}
p {
    font-family: 'Barlow', sans-serif;
}
h2 {
    font-family: 'Barlow', sans-serif;
    color:rgb(124, 189, 146) ;
}

.font {
    font-family: 'IBM Plex Serif', serif;
    font-size: 17px;
}
.cli {
    font-size: 12px;
}
