body {
    width: 55%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
footer {
    background-color: rgb(229, 229, 229);
    padding: 20px;
    margin-top: 4px;
    text-align: center;
}
.dark {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: rgb(60, 68, 78);
    border-radius: 4px;
}
.bright {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    background-color:rgb(58, 161, 231);
    border-radius: 4px;
}
.dode {
    margin-right: 25px;
    margin-left: 25px;
    font-weight: bold;
}