.carousel {
    margin: 0 auto;
    width: 80%;
}

.card {
    width: 120%;
}
.col-md-2 {
    margin-right: auto;
}
.but {
    width: 92%;
    margin-top: -210px;
}
img {
    height: 250px;
}
footer {
    font-size: 13px;
    margin-top: 2px;
}
.stars {
    color: lightseagreen;
}
.body {
    margin-top: -15px;
}

.bodycard {
    font-size: 15px;
}