.carousel {
    margin: 0 auto;
    width: 80%;
}

.card {
    width: 120%;
}
.col-md-2 {
    margin-right: auto;
}
.but {
    width: 92%;
    margin-top: -15%;
}
img {
    height: 250px;
}
footer {
    font-size: 13px;
    margin-top: -15px;
}
.stars {
    color: lightseagreen;
}
.card-body {
    margin-top: -15px;
}
